<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="solucion" method="POST">
        <label for="">Primer precio</label>
        <input type="number" name="g" id="g">
        <label for="">Segundo precio</label>
        <input type="number" name="h" id="h">
        <label for="">Tercer precio</label>
        <input type="number" name="i" id="i">
        <label for="">Cuarto precio</label>
        <input type="number" name="j" id="j">
        <label for="">Quinto precio</label>
        <input type="number" name="k" id="k">
        <input type="submit" value="enviar">
    </form>
    <h1>Solucion: {{solucion}}</h1>
</body>
</html>