<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/peo" method='post'>
        <label for="">Ingrese el numero</label>
        <input type="number" name="k" id="k">
        <input type="submit" value="enviar">
    </form>
    <h1>Solucion: </h1>
    <h3>El numero ingresado es: {{k}}</h3><br>
    <h3>El doble del numero es: {{po}}</h3><br>
    <h3>El triple del numero es: {{pi}}</h3>

</body>
</html>