<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="resultado" method="POST">
    <label for="">Primer numero</label>
    <input type="number" name="A" id="A">
    <label for="">Segundo numero</label>
    <input type="number" name="B" id="B">
    <label for="">Tercer numero</label>
    <input type="number" name="C" id="C">
  

</form>

</body>
</html>